<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <% if (productos.length == 0) { %>
        <p>Todavía no hay productos cargados.</p>
    <% } else{ %>
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Precio</th>
                    <th>Imagen  </th>
                </tr>
            </thead>
            <tbody>
                <% productos.forEach( (prod) => { %>
                <tr>
                    <td><%= prod.title %></td>
                    <td><%= prod.price %></td>
                    <td><img src="<%= prod.thumbnail %>" alt="<%= prod.title %>" width="100px"></td>
                </tr>
                <% } ) %>    
            </tbody>
        </table>
    <% } %>

    <a href="/">Ingresar un nuevo producto</a>

</body>
</html>